.navbar{
background-color:'#333';
color:'#fff';
padding: 1rem;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    font-size: 1.5rem;
    color:'#fff';
    text-decoration: none;
    cursor: pointer;
}

.nav-toggle{
    background: transparent;
    border: none;
    cursor: pointer;
    color: '#fff';
    font-size: 1.5rem;
    display: block;
}


.nav-menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.nav-item{
    margin-right: 1rem;
}

.nav-link{
    color: '#fff';
    text-decoration: none;
}

.nav-toggle .active{
    display: block;
}



@media screen and (max-width:768px) {
    
    .navbar-container{
        flex-direction: column;
    }


    .nav-toggle{
        display: block;
    }



    .nav-menu{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap:5px;
        align-items: center;
    }

    .nav-toggle:hover +.nav-menu{
        display: flex;
    }

    .nav-item{
        margin:05rem 0;
    }
}
